<div>
    <h3>Acerca de la página web:</h3>
    <img src="/assets/images/music.png">
    <p>Consiste en una web que mediante una API puede mostrar la letra de las canciones que quieras.</p>
    <p>En la página principal encontrarás varios ejemplos de letra de canciones.</p>
    <p>En el apartado de 'Buscar' podrás, a través del título de la canción y el artista, encontrar la letra de la canción que tú quieras.</p>
    <p>En el apartado de 'Acceso' podrás iniciar sesión en la página.</p>
    <br>
    <p style="text-align: center;">Página Web desarrollada con Angular para la asignatura de Programación Web de 2º DAM</p>
</div>
