<div id="header">
    <img src="assets/images/title-header.png">
</div>
<ul id="barranav">
    <li id="logo"><a><img src="/assets/images/logo.png"></a></li>
    <li routerLink="/canales"><a href="/canales">Canciones</a></li>
    <li routerLink="/buscar"><a href="/buscar">Buscar</a></li>
    <li routerLink="/about"><a href="/about">About</a></li>
    <li id="acceso" *ngIf="miToken == 0" class="acceso" routerLink="/login"><a href="/login">Acceso</a></li>
    <li id="acceso" *ngIf="miToken != 0" class="acceso"
        (click)="logout()"><span><strong>Usuario:</strong> {{ nombreUsuario }}</span></li>
</ul>